body {
  font-family: Arial, sans-serif;
  background-image: url('jiu-jeret.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
}
header, footer {
  text-align: center;
  background-image: linear-gradient(to top, rgb(1, 1, 68), rgb(1, 1, 121));
  color: white;
  padding: 20px;
}
header nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}
.bot {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 25px;
}
.botao {
  background-color: rgb(1, 1, 54);
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
}
#info {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 40px auto;
  padding: 20px;
  width: 80%;
  border-radius: 15px;
}
.busca-box {
  text-align: center;
  margin-top: 20px;
}
.busca-box input {
  width: 60%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
}
.lista-videos li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.lista-videos span {
  font-weight: bold;
  min-width: 200px;
}
iframe {
  border-radius: 10px;
}
.pagina-sobre, .contato-container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 80%;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
}
.intro-jj {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
}

.intro-img {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.intro-jj h2 {
  font-size: 26px;
  margin-bottom: 15px;
}

.intro-jj p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 12px;
}
